html{
  max-width: 100vw;
  max-height: 100vh;
}

body{
    background-color: blanchedalmond;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 40rem;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .palindrome {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 60%;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem;
    background-color: brown;
    border-radius: 0.7rem;
  }
  .palindromeTrue {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 60%;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem;
    background-color: green;
    border-radius: 4%;
  }
  .description {
    text-align: center;
  }
  h1{
    color: gold;
    font-size: 2rem;
  }
  p{
    color: whitesmoke;
    font-size: 1rem;
  }
  button {
    margin: 10px;
    height: 25%;
    font-size: 100%;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
  button:focus{
    border: none;
  }
  button:active{
    border: none;
  }
  .input{
    display: flex;
    flex-direction: column;
  }
  .innerSpaceUpDown{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .outerSpaceUpDown{
    margin-top: 11%;
    margin-bottom: auto;
  }
  .borda-arredondada-m{
    border-radius: 8px;
  }
  .borda-arredondada-p{
    border-radius: 5px;
  }